.Transition-enter {
  transform: translate(100%, 0);
}

.Transition-enter.Transition-enter-active {
  transition: transform 500ms ease-in;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}